:root {
    --purpblue: hsl(250, 40%, 22%);
    --lightpurp: #51557E;
    --brightyellow: hsl(38, 69%, 58%);
    --grayblue: hsl(219, 45%, 34%);
}



* {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#cover {
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    position: fixed; 
    height: 100%;
    width: 100%; 
    top:0; 
    left: 0; 
    background: #000; 
    z-index:99;
}

body {
    background-color: var(--grayblue);
    color: var(--brightyellow);
    position: relative;
}



.header {
    background-color: var(--purpblue);
    padding: 1vh;
    box-shadow: 0 0 2px black;
    z-index: 10;
}

h1 {
    font-size: 7vmin;
}

header h2 {
    font-size: 4vmin;
    margin-top: 1vh;
}

h3 {
    margin: 1vh;
    font-size: 5vmin;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 1rem 0;
}

nav ul li {
    text-align: center;
    display: inline-block;
    border-bottom: 0px;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 4vmin;
    border: 1px solid var(--brightyellow);
    width: 12vw;
}

nav ul li:hover {
    border: 1px solid var(--brightyellow);
    background-color: var(--brightyellow);
    color: var(--purpblue);
    cursor: pointer;
}

nav ul li:active {
    background-color: var(--grayblue);
    color: white;
}

main {
    margin: auto;
    padding-top: 1vh;
    width: 60%;
    height: 92vh;
    background-color: var(--lightpurp);
    box-shadow: 0 0 5px black;
    z-index: 0;
}

#carousel {
    margin: auto;
    height: 85%;
    width: 80%;
}

.parent {
    margin: auto;
    margin-top: 1vh;
    background-color: var(--purpblue);
    height: 70vh;
    width: 50vw;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.bio {
    color: var(--brightyellow);
    padding-bottom: 2vh;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

#bio {
    margin: auto;
    margin-top: 1vh;
    width: 80%;
    text-align: justify;
}

.image {
    width: 95%;
    margin: 1vh;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    box-shadow: 3px 3px 10px black;
}

#gametitle {
    font-size: 3vh;
    margin: 1vh;
}

#swipesection {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.gamestats {
    margin: auto;
    padding: 1vmin;
    color:var(--brightyellow);
    padding-bottom: 2vh;
    width: 92%;
    border-radius: 10px;
}

#tags {
    margin: 0;
    margin-top: 1vh;
}

#languages {
    margin: 0;
    margin-top: 1vh;
}

.tags {
    padding-top: 1vmin;
}

.choice-button {
    position: absolute;
    z-index: 10;
    font-size: 3vmax;
    width: 7vmax;
    height: 7vmax;
    border-radius: 50%;
    bottom: 10%;
    opacity: 75%;
}

.choice-button:hover {
    cursor: pointer;
}

.choice-button:active {
    filter: hue-rotate(30deg)
}

#yes {
    background-color: var(--brightyellow);
    right: 22.5%;
}

#no {
    background-color: var(--brightyellow);
    left: 22.5%;
}

#matchessection {
    display: none;
    width: 100%
}

#matchlist {
    margin: auto;
    width: 90%;
}

#matchlist li {
    /* background-color: #1F4690; */
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

#matchlist li a {
    color: whitesmoke;
    text-decoration: none;
}

#matchlist li a:hover {
    filter: drop-shadow(2px 2px 3px black)
}

.button {
    background-color: var(--grayblue);
    color: var(--brightyellow)
}

#match-pic {
    border-radius: 25px;
    height: auto;
    max-width: 80%;
}

#alert {
    color: var(--grayblue);
    display: none;
    position: absolute;
    top: 10%;
    left: 0; 
    right: 0; 
    width: 50vw;
    min-height: 50vh;
    margin-left: auto; 
    margin-right: auto; 
    background-color: var(--brightyellow);
    filter: drop-shadow(2px 2px 3px black);
    z-index: 100;
    
    animation-fill-mode: forwards;
}

#alert h3 {
    font-size: 2rem;
}
#alert p {
    font-size: 1.5rem;
}

.button {
    font-size: 2rem;
    width: 10rem;
    margin: 1rem 0;
}

#loginsection {
    display: none;
    width: 100%;
}

#register-here {
    font-style: italic;
    position: absolute;
    justify-self: center;
    bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#register-here:hover {
    filter: drop-shadow(2px 2px 3px black)
}

#register-form {
    display: none;
}

/* Custom Scroll Bar */
 .parent::-webkit-scrollbar {
     width: 12px;
 }
 
 .parent::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 .parent::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
     box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
 }

/* Media Queries */

@media (hover: none) {
    .choice-button {
        display: none !important;
    }
}

@media screen and (max-width: 1400px) {
    main {
        width: 75%;
    }
    #swipesection {
        width: 60%;
        height: 65%;
    }
    nav ul li {
        width: 15vw;
    }
    #alert {
        width: 80%;
        max-height: 90%;
    }
    #match-pic {
        margin: 0.7rem;
    }
    .button {
        font-size: 1.2rem;
        width: 6rem;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
        padding: 0;
    }
    #carousel {
        width: 95%;
    }
    #swipesection {
        width: 95%;
        height: 70%;
    }
    nav ul li {
        width: 20vw;
    }
    #register-here {
        bottom: 20%;
    }

    .choice-button {
        font-size: 5vmax;
        width: 10vmax;
        height: 10vmax;
        bottom: 12%;
    }

    #yes {
        right: 5%;
    }
    
    #no {
        left: 5%;
    }
}



@keyframes jumpDown {
    from {
        opacity: 0;
        transform: translate(0, -5rem)
    }

    to {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0);
    }

    to {
        opacity: 0;
        transform: translate(0);
    }
}