* {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#cover {
    position: fixed; 
    height: auto; 
    width: 100%; 
    top:0; 
    left: 0; 
    background: #000; 
    z-index:9999;
}

body {
    background-color: hsl(270, 9%, 31%);
    color: whitesmoke;
}

#box {
    display: flex;
    flex-flow: column;
}

.header {
    background-color: hsl(270, 8%, 17%);
    padding: 1vh;
    flex: 0 1 auto;
}

h1 {
    font-size: 7vmin;
}

header h2 {
    font-size: 4vmin;
    margin-top: 1vh;
}

h3 {
    margin: 1vh;
    font-size: 5vmin;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 1rem 0;
    flex: 1 1 auto;
}

nav ul li {
    text-align: center;
    display: inline-block;
    border-bottom: 0px;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 4vmin;
    border: 1px solid white;
    width: 12vw;
}

nav ul li:hover {
    border: 1px solid hsl(270, 50%, 17%);
    background-color: whitesmoke;
    color:hsl(270, 8%, 17%);
    cursor: pointer;
}

main {
    margin: auto;
    padding-top: 1vh;
    width: 60%;
    height: 92vh;
    background-color: hsl(270, 8%, 46%);
}

#carousel {
    margin: auto;
    height: 85%;
    width: 80%;
    overflow-x: scroll;
    position: relative;
    flex: 0 1 auto;
}

.parent {
    margin: auto;
    margin-top: 1vh;
    background-color: hsl(270, 50%, 17%);
    height: 85%;
    position: absolute;
    cursor: grab;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
}

.bio {
    background-color: whitesmoke;
    color:hsl(270, 8%, 17%);
    padding-bottom: 2vh;
    width: 95%;
    margin: auto;
    border-radius: 10px;
}

#bio {
    margin: auto;
    margin-top: 1vh;
    width: 80%;
    text-align: justify;
}

.image {
    width: 95%;
    margin: 1vh;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    box-shadow: 3px 3px 10px black;
}

#gametitle {
    font-size: 3vh;
    margin: 1vh;
}

#swipesection {
    position: absolute;
    width: 100%;
}


.gamename {
    font-size: 4vh;
    padding-left: 1vw;
}

.gamestats {
    margin: auto;
    padding: 1vmin;
    background-color: whitesmoke;
    color:hsl(270, 8%, 17%);
    padding-bottom: 2vh;
    width: 92%;
    border-radius: 10px;
}

#tags {
    margin: 0;
    margin-top: 1vh;
}

#languages {
    margin: 0;
    margin-top: 1vh;
}

.tags {
    padding-top: 1vmin;
}

.choice-button {
    position: absolute;
    z-index: 10;
    font-size: 3vmax;
    width: 7vmax;
    height: 7vmax;
    border-radius: 50%;
    bottom: 10%;
    opacity: 75%;
}

.choice-button:hover {
    cursor: pointer;
}

.choice-button:active {
    filter: hue-rotate(30deg)
}

#yes {
    background-color: green;
    right: 50px;
}

#no {
    background-color: red;
    left: 50px;
}

#matchessection {
    display: none;
    width: 100%
}

#matchlist {
    margin: auto;
    width: 90%;
}

#matchlist li {
    background-color: hsl(270, 8%, 17%);
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

#matchlist li a {
    color: whitesmoke;
    text-decoration: none;
}

#matchlist li a:hover {
    filter: drop-shadow(2px 2px 3px black)
}

/* Custom Scroll Bar */
 .parent::-webkit-scrollbar {
     width: 12px;
 }
 
 .parent::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 .parent::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
     box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
 }



/* Media Queries */

@media screen and (max-width: 1400px) {
    main {
        width: 75%;
    }
    nav ul li {
        width: 15vw;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
        padding: 0;
    }
    #carousel {
        width: 95%;
    }
    nav ul li {
        width: 20vw;
    }

    .choice-button {
        font-size: 5vmax;
        width: 10vmax;
        height: 10vmax;
        bottom: 12%;
    }

    #yes {
        right: 5%;
    }
    
    #no {
        left: 5%;
    }
}